
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* @apply bg-neutral-800 text-white; */
  @apply bg-stone-700 text-gray-300;
}

p {
  @apply font-roboto font-light;
}

.dropdown-animate {
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
}

.dropdown-animate-show {
  transform: scaleY(1);
  opacity: 1;
}

/* .dropdown-animate {
  display: none;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Show the dropdown 
.dropdown-animate-show {
  display: block;
  opacity: 1;
  transform: scaleY(1);
} */